.contact{
    width: 1366px;
    height: 768px;
    background-color:#F2F4F1;
    position: relative; 
    z-index: 1;
}

.contact__rectangulo{
    left: 968px; 
    width: 398px;
    height: 768px;
    background-color:#DCE1DA ;
    position:absolute; 
    z-index: 2;
}

 #contact h2 {
    font-size: 39px; 
    padding-left: 101px;
    padding-top: 120px;
    b {
        color: #E0752F;
    }
}

.contact__image{
    background-image: url("../image/contact-image.png");
    width: 594px;
    height: 400px;
    left: 671px;
    top: 192px;
    position:absolute; 
    z-index: 2;
}

.datos__contacto{
    margin-left: 101px;
    margin-top: 75px;
    width: 471px;
    height: 345px;
    font-size: 16px; 
    color: #5F6368;
}

.form-control{
    font-size: 14px;
}

.contact__button {
    @include button;
    margin-left: 101px;
    margin-top: 15px;
}