.nav-container {
    position: absolute;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: $color-brand;
    border-bottom-width: 1px;
    height: 80px;
    padding-left: 100px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
    display: flex;
    width: 535px;
}

.nav-bar__ul {
    display: flex;
    width: 420px;
    justify-content: space-between;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.text-container {
    position: absolute;
    margin-top: 150px;
    margin-left: 115px;
    color: white;
    display: flex;
    flex-direction: column;
}

.text-h1 {
    font-family: 'Poppins', sans-serif;
    font-size: xxx-large;
}

.text-p {
    font-family: 'Roboto', sans-serif;
}

.text-button {
    @include button
}